{% extends "base.html" %}

{% block title %}Confirma Exclusão {% endblock %}

{% block content %}
  <div class="row-justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card border-danger">
            <div class="card-header bg-danger text-white">
                <h2 class="card-title"> Confirma a Exclusão </h2>
            </div>
            <div class="card-body">
               <p> Tem a certeza que deseja apagar a modalidade "<strong>{{ modalidade.name}}</strong>"?</p> 
               <p class="text-danger">Esta ação não pode ser desfeita.</p>
               <form method="post">
                    {% csrf_token%}
                    <button type="submit" class="bnt bnt-danger">Sim, apagar</button> 
                    <a href="{url 'list_modalidades'}" class="btn btn-secondary">Cancelar</a>            
               </form>
            </div>
        </div>
    </div>   

  </div>  
 {% endblock %} 